@import url("/assets/css/menubar.css");

html, body {
    margin: 0;
    height: 100%;
}

header {
    position: fixed;
    font-size: 18px;
    top: 30px;
    left: 80px;
    display: inline;
    user-select: none;
}

nav {
    position: fixed;
    top: 0px;
    left: -250px;
    background-color: #eee;
    width: 250px;
    height: 100%;
    float: left;
    transition: all .5s ease;
}

article {
    margin-top: 60px;
    width: 100%;
    min-height: 100%;
}

.content {
    max-width: 780px;
    margin: 0 auto;
    padding: 10px;
}

footer {
    max-width: 780px;
    margin: 0 auto;
    padding: 20px;
    font-size: 12px;
}