@import url("/assets/css/menubar.css");
@import url("/assets/css/style.css");

html, body {
    margin: 0;
    height: 100%;
}

header {
    position: fixed;
    font-size: 18px;
    top: 30px;
    left: 80px;
    display: inline;
    user-select: none;
}

nav {
    position: fixed;
    top: 0px;
    left: -285px;
    background-color: #eee;
    width: 280px;
    height: 100%;
    float: left;
    transition: all .5s ease;
    overflow-y: auto;
    overscroll-behavior: contain;
    scrollbar-width: thin;
    scrollbar-color: #555 #eee;
    box-shadow: 2px 0px 5px #ccc;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav .nav-part {
    border-top: 1px solid black;
}

nav ul li {
    display: block;
    text-indent: 20px;
    line-height: 40px;
    font-size: 14px;
}

nav ul li:not(.nav-chapter):hover{
    text-decoration: underline;
}

nav ul .nav-title {
    text-align: center;
    background-color: #ccc;
    line-height: 45px;
    text-indent: 0px;
}

nav ul .nav-chapter {
    font-weight: bold;
}

article {
    margin-top: 60px;
    width: 100%;
    min-height: 100%;
}

.content {
    max-width: 780px;
    margin: 0 auto;
    padding: 10px;
}

.content .paging {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 0px 0px;
    padding: 10px 10px;
    text-align: center;
}

.content .paging li{
    padding: 5px 15px;
    display: inline-block;
    list-style: none;
}

.content .paging a:first-child, .content .paging a:last-child{
    background-color: #667766;
    border-radius: 6px;
    box-shadow: 3px 3px 5px #eee;
    color: white;
    font-weight: bold;
}

.content .paging a:first-child:hover, .content .paging a:last-child:hover{
    text-decoration: underline;
    background-color: #556655;
}

footer {
    max-width: 780px;
    margin: 0 auto;
    padding: 20px;
    font-size: 12px;
}

@media screen and (max-width: 1023px) {
	header {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 6px 0px;
        width: 100%;
        text-align: center;
        background-color: white;
        box-shadow: 3px 0px 5px #ccc;
    }

    .content {
        padding: 10px Calc(10% / 2);
    }
}